<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action= "/user_input" method="get">
    <input type="text" name= "phrase" placeholder= "User Text" />
    <input type="submit" value="Create Phrase"/>
  </form>
  </body>
</html>
